.blog * {
	box-sizing: border-box;
	text-decoration: none;
}

.blog a {
	color: #ff7700;
}

.blog a:hover {
	text-decoration: underline;
}

body {
  -webkit-font-smoothing: antialiased;
	box-sizing: border-box;
  margin: 0;
	padding-bottom: 0px;
}

.blog {
	font-family: "Soehne", "Source Sans Pro", sans-serif;
	color: #050526;
	background: #fff;
}

.inline-note {
	font-size: 0.8em;
	opacity: 0.5;
	margin: 10px 0px 10px 20px;
}

#readAs {
	width: calc(100% + 40px);
	margin-left: -20px;
	position: sticky;
	padding: 10px 20px;
	top: 0px;
	background: #ffffff;
	z-index: 1;
}

#readAs + * {
	margin-top: 0px;
}

#readAs span {
	opacity: 0.5;
}

#readAs label {
	text-decoration: underline;
	cursor: pointer;
}

.expanded {
	display: none;
}

.expanded--container {
	margin: 40px 0px;
}

.blog.blog--expanded .expanded {
	display: block;
	background: #eefbff;
	outline: 20px solid #eefbff;
}

.blog.blog--expanded .expanded-mode-info {
	display: none;
}

.expanded-mode-info {
	cursor: pointer;
}

.expanded-mode-info p {
	font-weight: 400;
	margin: 40px 0px;
	background: #eefbff;
	outline: 20px solid #eefbff;
	font-family: "Soehne", "Source Sans Pro", sans-serif;
}

.header canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.blog::-moz-selection { background-color: #30304f; color: #fff; }
.blog::selection { background-color: #30304f; color: #fff; }

blockquote {
	margin: 20px 0 0 50px;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
	font-family: "Soehne", "Source Sans Pro", sans-serif;
	line-height: 1.2;
	text-align: left;
	letter-spacing: -0.2px;
}

.quote-description {
	margin-left: 50px;
	margin-top: 10px;
}

table {
	font-family: "Soehne", "Source Sans Pro", sans-serif;
	width: 100%;
	border-collapse: collapse;
	font-size: 1.1rem;
	line-height: 1.7;
	font-weight: 300;
}

table th,
table td {
	padding: 4px 6px 0px 6px;
	text-align: left;
	border-bottom: 1px solid #e8e8e8;
}

table th {
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 0.8em;
	font-weight: 500;
}

table .strike {
	width: 60%;
}

table td.right,
table th.right {
	text-align: right;
}

tr.highlighted,
table tr.highlighted:nth-of-type(2n) {
	background: #fff0bd;
	color: #221c06;
}

tr.highlighted td {
	border-bottom-color: #e7d497
}


table th:last-of-type,
table td:last-of-type {
	text-align: right;
}

table tr:nth-of-type(2n) {
	background: #fafafa;
}

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.header {
	position: relative;
  padding: 15vh 0;
  color: rgb(120, 104, 87);
  text-align: center;
  background: #eefbff;
	height: 100vh;
}

.header .image-wrapper {
	display: none;
  width: 70vh;
  height: 70vh;
  margin: 0 auto;
}

.header img {
  position: relative;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 30px 100px -40px #37707d;
}

.header h1,
.header h2 {
  position: absolute;
  margin: 0;
  bottom: 40px;
  left: 50px;
  z-index: 1;
}

.header h2 {
  bottom: 95px;
  font-size: 1.5em;
  letter-spacing: -0.5px;
  color: #69d3ff;
  font-weight: 500;
}

.header h1 {
  font-size: 3em;
  letter-spacing: -1px;
  color: #050526;
  transform: translateX(-3px);
}

article {
  max-width: 700px;
  margin: 50px auto;
}

article .description {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.6;
  margin: 50px 0px;
  opacity: 0.7;
}

article h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 40px;
	text-align: left;
}

/* font-family: 'Inconsolata', monospace; */
article section p {
  font-family: 'Merriweather', serif;
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: 300;
}

article section .figure {
  margin: 20px 0px;
	width: 100%;
  max-width: 450px;
}

.figure.figure--full-width {
	max-width: none;
}

.figure.figure--chart {
	max-width: none;
}

.figure table {
	margin-bottom: 0px;
}

.figure table + div {
	margin-top: 20px;
}

article section .figure .figure--text {
  font-family: "Soehne";
  font-size: 0.8em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.3;
	opacity: 0.5;
}

article section .figure .figure--text b {
  color: #050526;
}

article section img {
  width: 100%;
}

.blink {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% { opacity: 0.5 }
	50% { opacity: 1 }
	100% { opacity: 0.5 }
}
/*
.date-picker {
	text-align: center;
	font-size: 3em;
}

.date-picker > * {
	display: inline-block;
	vertical-align: top;
}

.date-picker .date {
	font-weight: 600;
}

.date-picker .arrow {
	font-size: 0.7em;
	margin: 7px 20px 0px 20px;
	opacity: 0.5;
	transition: all 0.2s ease;
	cursor: pointer;
}

.date-picker .arrow:hover {
	opacity: 1;
	transform: scale(1.1);
}
*/


.interactive-app > * {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow: auto;
}

.interactive-app .expiration-dates {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: calc(100%);
	width: 185px;
	line-height: 1.5;
	font-family: Menlo, monospace;
	border-right: 1px solid #e1e1e1;
	font-size: 0.9em;
}

.interactive-app .expiration-dates b {
	display: block;
	font-size: 1.1rem;
	font-weight: 600;
	font-family: "Soehne", "Source Sans Pro", sans-serif;
	padding: 14px 0px 10px 20px;
	background: #fff;
	position: sticky;
	top: 0;
}

.interactive-app .expiration-dates li {
	padding: 2px 20px 1px 20px;
}

.interactive-app .expiration-dates .selected {
	background: #f0f0f0;
}

.interactive-app {
	background: #fff;
	box-shadow: 0px 0px 60px -50px;
	height: 800px;
}

.interactive-app .table {
	padding: 0px 20px;
	border-right: 1px solid #e1e1e1;
}

.interactive-app table {
	width: 370px;
	padding: 0px 20px 20px 20px;
	height: 100%;
}

.interactive-app table th {
	padding-top: 17px;
}

.interactive-app table .strike {
	width: auto;
}


.interactive-app table th:last-of-type,
.interactive-app table td:last-of-type {
	width: 50%;
}

.interactive-app table thead th {
	position: sticky;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #e1e1e1;
}

.interactive-app > .chart {
	height: calc(100% - 10px);
	width: calc(100% - 400px - 221px);
	margin: 10px 15px 0px 10px;
}

@media (max-width: 1024px) {
	.interactive-app {
		height: auto;
	}

	.interactive-app .expiration-dates {
		width: 185px;
		height: 500px;
	}

	.interactive-app .table {
		width: calc(100% - 205px);
		margin-left: 20px;
		height: 500px;
		overflow: auto;
		padding: 0px;
	}

	.interactive-app table {
		display: table;
		width: calc(100% - 20px);
		height: calc(500px);
		margin-right: 20px;
		border: none;
	}

	.interactive-app .chart {
		height: 600px;
		width: calc(100% - 0px);
		margin: 0;
		padding: 0px 10px;
	}
}

@media (max-width: 800px) {
	article {
		margin: 50px;
	}

	.header .image-wrapper {
	  width: 35vh;
	  height: 35vh;
	}

	.header h1 {
		font-size: 1.5em;
		bottom: 20px;
		left: 50px;
	}

	.header h2 {
		font-size: 1em;
		bottom: 50px;
		left: 50px;
	}
}

@media (max-width: 500px) {
	article {
		margin: 50px 20px;
	}

	.header h1,
	.header h2 {
		left: 20px;
	}

	article h2 {
		font-size: 1.6em;
		margin-bottom: 15px;
	}

	table,
	p,
	article section p {
	  font-size: 1em;
	}
}
