.housing-blog h3 {
  position: absolute;
  top: -40px;
  color: #050526;
  font-weight: 500;
  font-size: 1.2em;
}

.housing-blog article {
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.housing-blog article hr {
  border: none;
  border: 1px solid #eee;
  margin-top: 40px;
}

.housing-blog .header h1, .housing-blog .header h2 {
  position: static;
  text-align: left;
  display: inline;
  padding: 2px;
}

.housing-blog .header h1 {
  color: #fff;
  background: #050526;
  line-height: 1.4;
}

.housing-blog .header h2 {
  color: #b30d42;
  display: block;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.housing-blog article h2 {
  font-size: 1.8em;
}

.header-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100%;
  text-align: left;
}

.housing-blog .header {
  display: inline-block;
  width: calc(100% - 100px);
  height: 70vh;
  background-position: center center;
  background-size: cover;
  margin: 100px 50px 50px;
}

.housing-blog .header::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(10deg, #f4e0c8, #f4e0c800 70%);
}

.housing-blog p {
  font-size: 1em;
  margin: 15px 0 10px 0;
}

.housing-blog .figure img {
  width: 100%;
}

.housing-blog .figure {
  margin: 20px 0px;
}

.housing-blog .figure--article-width {
  padding: 20px 20px 5px 20px;
  background: #fafafa;
  max-width: 1000px;
  margin: 20px -150px;
  width: calc(100% + 400px);
}

@media (max-width: 1000px) {
  .housing-blog .figure--article-width {
    margin: 20px 0px;
    width: 100%;
  }

  .housing-blog .header {
    margin: 60px 20px 20px;
    width: calc(100% - 40px);
    height: 50vh;
  }

  .housing-blog .header h1 {
    line-height: 1.6;
    font-size: 1.3em;
  }

  .housing-blog .header h2 {
    font-size: 1.1em;
  }

  .header-wrapper {
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
  }
}